.Container {
  background-color: #282c34;
  min-height: 100vh;
}


.Category {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1em;
}

.Carousel {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
