
@keyframes zoomIn {
  0% {
    transform: scale(0.665); }
  80% {
    transform: translateX(1.5); }
  100% {
    transform: translate(1); } }

@keyframes zoomIn2 {
  0% {
    transform: scale(0.665); }
  80% {
    transform: translateX(1.5); }
  100% {
    transform: translate(1); } }

@keyframes zoomOut {
  0% {
    transform: scale(1); }
  20% {
    transform: translateX(1.5); }
  100% {
    transform: translate(0.665); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-13rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft2 {
  0% {
    opacity: 0;
    transform: translateX(-13rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(13rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight2 {
  0% {
    opacity: 0;
    transform: translateX(13rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }



.container {
   flex-basis: 80%;
   /* transition: all 0.3s ease-out; */
}

.card-container-init{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.card-container-init2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* animation: moveInRight2 1s ease-out; forward */
  }

.card-container-left2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: moveInLeft2 1s ease-out; /* forward */
  }
.card-container-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: moveInLeft 1s ease-out;
  }

.card-container-right2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: moveInRight2 1s ease-out; /* forward */
  }

.card-container-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: moveInRight 1s ease-out;
  }

  /* .card-container:first-child{
    animation: zoomOut 1.5 ease-out 1.5;
  } */

  .card{
    text-align: center;
    width: 22%;
    height: 40vh;
    border: 2px solid blanchedalmond;
    border-radius: 1em;
  }

.card-selected2 {
    text-align: center;
    width: 33%;
    height: 60vh;
    border: 2px solid blanchedalmond;
    border-radius: 1em;
    box-shadow: 5px 5px #bbb;
    animation: zoomIn2 1.5s ease-in;
  }
.card-selected {
    text-align: center;
    width: 33%;
    height: 60vh;
    border: 2px solid blanchedalmond;
    border-radius: 1em;
    box-shadow: 5px 5px #bbb;
    animation: zoomIn 1.5s ease-in;
  }

  .space-arround{
    margin-left: 1em;
  }
  .space-top{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cardData{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
  }

  .cardImage{
    text-align: center;
    width: 100%;
    height: 70%;
    overflow: 'hidden'
  }

  .circle{
      width: 4px;
      height: 4px;
      border: 2px solid #bbb;
      border-radius: 50%;
  }
 
  .circle-filled{
      width: 4px;
      height: 4px;
      border: 2px solid #bbb;
      background-color: #bbb;
      border-radius: 50%;
  }
  